# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
.kotlin/
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# generated native folders
/ios
/android


# --- PetGo Specific ---
# Banco de dados local (não queremos conflitos de dados no grupo)
*.sqlite
*.db
*.db-journal

# Fotos de teste (as fotos que você tira no celular não devem ir pro GitHub)
server/uploads/
uploads/

# Se você criou o arquivo .env para o Token do Ngrok
.env